.footer {
  background-color: var(--black);
  padding: 4.5rem 0;
}

.footer-content {
  max-width: 85vw;
  margin-inline: auto;
  text-align: center;
  row-gap: 4rem;
}

.footer-nav {
  justify-items: center;
  row-gap: 3rem;
}

.footer-nav .nav-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-nav .nav-items a{
  position: relative;
}

.footer-nav .nav-items a::before{
  content: '';
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  height: 0.1em;
}

.footer-nav .nav-items a::after{
  content: '';
  position: absolute;
  top: 120%;
  right: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  height: 0.1em;
}

@-webkit-keyframes scale-up-to-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    opacity: 0;
    width: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    width: 0.75em;
  }
}
@keyframes scale-up-to-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    opacity: 0;
    width: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    width: 0.75em;
  }
}

@-webkit-keyframes scale-up-to-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    opacity: 0;
    width: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    width: 0.75em;
  }
}
@keyframes scale-up-to-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    opacity: 0;
    width: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    width: 0.75em;
  }
}

.footer-nav .nav-items a:hover::before {
  -webkit-animation: scale-up-to-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-to-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.footer-nav .nav-items a:hover::after {
  -webkit-animation: scale-up-to-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-to-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}




.links {
    display: grid;
    row-gap: 3rem;
  }


@media screen and (min-width: 53em) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .footer-nav {
    justify-items: unset;
  }

  .footer-nav .nav-items {
    flex-direction: row;
    gap: 1rem;
  }
  .links {
    justify-content: right;
  }

  .links .social-links {
    justify-content: right;
  }
}
