.footer {
  background-color: var(--black);
  padding: 4.5rem 0;
  justify-content: center;
  text-align: center;
}

.footer-nav {
  justify-items: center;
  margin-bottom: 4rem;
}

.footer-nav img {
  margin-bottom: 3rem;
}

.footer-nav .nav-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 53em) {
  .footer {
    justify-content: space-between;
    padding: 2rem 0;
    grid-template-columns: 42.5vw 42.5vw;
    text-align: center;
  }
  .footer-nav {
    margin-bottom: 0;
  }
  .footer-nav img {
    /* justify-self: left; */
    margin-bottom: 0;
  }
  .footer-nav .nav-items {
    flex-direction: row;
    gap: 1rem;
  }
}
