.hero-heading {
  font-size: clamp(1.25rem, 3vw + 0.5rem, 2.25rem);
  border: 3px solid #fff;
  align-self: center;
  justify-self: center;
  padding: 1.25em;
  max-width: 30ch;
}

@media (orientation: landscape) {
  .hero-heading {
    font-size: clamp(0.93rem, 2vw + 0.5rem, 2.25rem);
  }
}

@media screen and (min-width: 59em) {
  .hero-heading {
    justify-self: left;
  }
}
