.header {
  min-height: 100vh;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.39), hsla(0, 0%, 0%, 0.39)), url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 85vw;
  justify-content: center;
}

@media screen and (min-width: 56rem) {
  .header {
    min-height: 100vh;
    background-image:linear-gradient(hsla(0, 0%, 0%, 0.39), hsla(0, 0%, 0%, 0.39)), url(../images/desktop/image-hero.jpg);
  }
}
