.projects {
  font-size: clamp(0.933rem, 3vw + 0.5rem, 1.433rem);
  grid-template-columns: 85vw;
  justify-content: center;
  margin-bottom: 11.75rem;
}
.section-title {
  margin-bottom: 4rem;
}
.section-title h2 {
  text-align: center;
}

.projects-container {
  gap: 1.87rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.projects-container img {
  width: 100%;
}

.projects button[type='button'] {
  justify-self: center;
  padding: 0.5rem 0;
  width: 10rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.upper-btn {
  display: none;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.85s ease;
}
.upper-btn:hover {
    background-color: var(--black);
    color: var(--white);
  }
.lower-btn {
  background-color: var(--white);
  margin-top: 2.75rem;
}

@media screen and (min-width: 53em) {
  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lower-btn {
    display: none;
  }
  .upper-btn {
    display: block;
  }
  
}

@media screen and (min-width: 80em) {
  .projects {
    font-size: clamp(0.933rem, 2vw + 0.5rem, 1rem + 0.7vw);
  }
}

@media screen and (min-width: 93em) {
  .projects-container {
    grid-template-columns: repeat(4, minmax(1rem, 1fr));
  }
}
